<mat-toolbar class="navbar" color="primary">
    <mat-icon routerLink="/home">nature</mat-icon>

    <span routerLink="/home" class="nome-azienda">UrbanCityLife</span>
    <span class="spacer"></span>

    <mat-icon (click)="viewMenuMobile()" class="menu-mobile">menu</mat-icon>
    <div *ngIf="mobileMenu" class="box-menu-mobile">
        <button class="menu-big" mat-button routerLink="/home"
            [class.current-page]="isCurrentPage('home')">Home</button>
        <button class="menu-big" mat-button routerLink="/dashboard"
            [class.current-page]="isCurrentPage('dashboard')">Dashboard</button>
        <button class="menu-big" mat-button routerLink="/utenti"
            [class.current-page]="isCurrentPage('utenti')">Utenti</button>
        <button class="menu-big" mat-button routerLink="/account"
            [class.current-page]="isCurrentPage('account')">Account</button>
        <button class="menu-big" mat-button (click)="startLogoutConfirmation()">Logout</button>
    </div>

    <ng-container *ngIf="userIsLogged(); else loggedOutTemplate">
        <button class="nav-menu-big" mat-button routerLink="/home"
            [class.current-page]="isCurrentPage('home')">Home</button>
        <button class="nav-menu-big" mat-button routerLink="/dashboard"
            [class.current-page]="isCurrentPage('dashboard')">Dashboard</button>
        <button class="nav-menu-big" mat-button routerLink="/utenti"
            [class.current-page]="isCurrentPage('utenti')">Utenti</button>
        <button class="nav-menu-big" mat-button routerLink="/account"
            [class.current-page]="isCurrentPage('account')">Account</button>
        <mat-icon class="nav-menu-big" (click)="startLogoutConfirmation()">logout</mat-icon>
    </ng-container>

    <ng-template #loggedOutTemplate>
        <button mat-button routerLink="/login" [class.current-page]="isCurrentPage('login')">Login</button>
    </ng-template>

    <mat-card *ngIf="showLogoutConfirmation && userIsLogged()" class="logout-card">
        <mat-card-content>
            <p class="p-logout">Sei sicuro di voler effettuare il logout?</p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center align-items-center">
            <button class="conferma-logout" mat-button (click)="confirmLogout()">Conferma</button>
            <button class="annulla-logout" mat-button (click)="cancelLogout()">Annulla</button>
        </mat-card-actions>
    </mat-card>
</mat-toolbar>

