.navbar {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    color: #fff;
}

.nome-azienda {
    font-size: 24px;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.current-page,
.conferma-logout,
.annulla-logout {
    background-color: #3f51b5;
}

.current-page {
    background-color: #2d3e94;
}

mat-icon {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 4px;
    cursor: pointer;
}

mat-card {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    max-width: 85%;
    z-index: 9999;
}

.logout-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-actions-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.p-logout {
    color: #3f51b5;
    text-align: center;

    @media screen and (max-width: 600px) {
        font-size: 1.1rem;
    }
}

.conferma-logout,
.annulla-logout {
    background-color: #3f51b5;
    color: #fff;
    padding: 1em 2em;
    margin: 0 0.5em;
}

.menu-mobile {
    display: none;
}

.box-menu-mobile {
    display: flex;
    flex-direction: column;
    background-color: #3f51b5;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

@media (max-width: 768px) {
    .menu-mobile {
        display: block;
    }

    .nav-menu-big {
        display: none;
    }
}