<div class="box">
    <h2>Login Form</h2>

    <form class="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" (input)="convertEmailToLowerCase()">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Inserisci un'email valida
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                L'email è <strong>richiesta</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Token</mat-label>
            <input type="password" matInput [formControl]="tokenFormControl">
            <mat-error *ngIf="tokenFormControl.hasError('required')">
                Il Token è <strong>richiesto</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="prendiNuovoToken" class="full-width">
            <mat-label>Token di login</mat-label>
            <input type="password" matInput [formControl]="nuovoTokenFormControl">
            <mat-error *ngIf="tokenFormControl.hasError('required')">
                Il Token di login è <strong>richiesto</strong>
            </mat-error>
        </mat-form-field>

        <p *ngIf="!prendiNuovoToken" class="sign-in">Non sei registrato? Clicca <a routerLink="/registrazione"
                href="">qui</a>.</p>
        <p *ngIf="prendiNuovoToken" class="prendi-token">Prendi il token di login <a target="_blank"
                href="https://gorest.co.in/my-account/access-tokens">qui</a>.</p>

        <button *ngIf="!prendiNuovoToken" mat-raised-button color="primary" type="submit" class="full-width">Ottieni
            link per token di login</button>
        <button *ngIf="prendiNuovoToken" mat-raised-button color="primary" type="submit"
            class="full-width">Login</button>
        <p class="message" *ngIf="message">{{ message }}</p>
    </form>
</div>